.custom-navbar { /*tirando o box-shadow apenas para a página Index */
    box-shadow: unset;
}

header {
    overflow: clip
}

body {
    background: linear-gradient(to bottom, #20242f, #1a1d27);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

h3, h1 {
    font-weight: bold;
}

footer {
    background-color: #181b22;
    padding: 2rem 0;
}

.painelIndex {
    background-image: linear-gradient(to right, #5963A8, #2D2C43);
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px; */
}

/* .conteudoPainel{
    display: flex;
} */

.buttonInscricao{
    background-color: #322BFF;
    color: white;
    border-color: #4665FF;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

#textoInscricao {
    padding-left: 8rem;
    display: flex;
    flex-direction: column;
    min-height: 450px;
}

/* Estilizando os cards */
#imagensPainel {
    position: relative;
    justify-content: flex-end;
    display: flex;
    align-items: center; 
    justify-content: flex-end; 
    min-height: 450px; /* Mesma altura da coluna de texto para alinhar */
}

.game-image {
    position: absolute; 
    width: clamp(150px, 18vw, 250px);
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.game-image:hover {
    transform: translateY(-10px);
}

.imagemEquipe {
    transition: transform 0.3s ease;
}

.imagemEquipe:hover {
    transform: translateY(-10px);
}

/* Posições específicas para criar a sobreposição */
.image-1 {
    top: 0;
    left: 150px;
    z-index: 1; /* Fica atrás */
}

.image-2 {
    top: 50px;
    left: 100px;
    z-index: 2; /* Fica no meio */
}

.image-3 {
    top: 100px;
    left: 50px;
    z-index: 3; /* Fica na frente */
}

.imagemEquipe{
    width: 200px;
    transition: transform 0.3s ease;
}

.imagemEquipe:hover {
    transform: translateY(-10px);
}

/* Ajuste responsivo */
@media (max-width: 768px) {
    #textoInscricao {
        /* text-align: center;
        padding-left: 0; */
        min-height: auto;
        padding-left: 3rem;
    }
    #imagensPainel {
        margin-bottom: 1px;
        justify-content: center;
        transform: none;
    }

    body {
        font-size: 14px;
    }
}