body {
    background: linear-gradient(to bottom, #20242f, #1a1d27);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

footer {
    background-color: #181b22;
    padding: 2rem 0;
}

/* Ajuste responsivo */
@media (max-width: 768px) {
    .card {
        width: 100%;
        max-width: 90vw;
    }

    body {
        font-size: 14px;
    }
}