body {
    background: linear-gradient(to bottom, #20242f, #1a1d27);
    color: white;
    font-family: 'Poppins', sans-serif;
}

.corpo-site {
    max-width: 1100px;
    margin: 0 auto;
    /* Centraliza na tela */
    padding: 0 20px;
    /* Espaçamento lateral */
}

.comeco {
    font-size: var(--titulo);
    font-weight: bold;
    margin-bottom: 4px;
    /* margin-top: 80px; */
}

.subComeco {
    font-size: var(--paragrafo);
    margin-bottom: 20px;
}

.configuracao-inicial {
    display: flex;
    flex-wrap: nowrap;
    /* Espaço entre itens */
    background-color: #222222;
    border-radius: 20px;
    margin-bottom: 20px;
    align-items: center;
    /* Verticalmente alinhados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 2px solid #13121250;
}

.circle {
    width: 155px;
    height: 155px;
    background-color: #D1D2F6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #322BFF;
    font-weight: bold;
    font-size: 4rem;
    border: 2px solid #131212a9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.13);
    margin: 16px 89px 16px 45px;
    /* se quiser espaçamento da borda esquerda */
}

.titulo {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
    font-weight: 600;
}

.sub-titulo {
    font-size: var(--paragrafo);
}

.text-nome {
    border: 1px solid #cccbcb;
    border-radius: 12px;
    align-items: center;
    display: flex;
    margin-top: 1rem;
}

.nome {
    background: transparent;
    width: 600px;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
}

.botaoSalvar {
    padding: 4px 12px;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    background: var(--cor-primaria);
    color: white;
    transition: all 0.3s ease;
    margin-right: 4px;

}

.botaoSalvar:hover {
    background: #134eff71;
    border-bottom: 1px solid #a6c2e0;
    transform: translateY(-1px);
    /* efeito de leve elevação */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.botaoSalvar:active {
    background: #00aeff;
    transform: scale(0.95);
    /* efeito de "apertar" */
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.time-informacao {
    background-color: #222222;
    border-radius: 20px;
    margin-bottom: 49px;
    padding: 20px 48px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.13);
    border: 2px solid #13121250;
}

.Time-jogo {
    border: 1px solid #cccbcb;
    border-radius: 12px;
    padding: 12px 20px;
    width: 400px;
    margin-bottom: 20px;
    margin-top: 1rem;
}

.Time {
    font-size: 1.2rem;
    font-weight: 600;
}

.jogo {
    font-size: var(--paragrafo);
}

.time-treino {
    font-size: var(--paragrafo);
}

.horasPAE {
    border: 1px solid #cccbcb;
    border-radius: 12px;
    padding: 12px 20px;
    width: 400px;
    margin-bottom: 20px;
    margin-top: 1rem;
}

.Horas {
    font-size: 1.2rem;
    font-weight: 600;
}

.PAE {
    font-size: var(--paragrafo);
}

.proximo-jogos {
    font-size: var(--paragrafo);
}

@media (max-width: 992px) {
    .corpo-site{
        align-items: center;
    }

    .time-informacao {
        align-items: center;
    }

    .configuracao-inicial {
        flex-direction: column;
        align-items: flex-center;
        padding: 24px;
    }

    .circle {
        width: clamp(110px, 12vw, 120px);
        height: clamp(110px, 12vw, 120px);
        font-size: clamp(2rem, 6vw, 4rem);
    }

    .nome {
        width: 100%;
        margin-bottom: 8px;
    }

    .time-horas {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .Time-jogo,
    .horasPAE,
    .time-treino,
    .proximo-jogos {
        width: 100%;
    }
    .Time-jogo{
        margin-bottom: 20px;
    }
    .horasPAE{
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .time-informacao {
        justify-content: center;
    }

    .circle {
        width: 100px;
        height: 100px;
        font-size: 2rem;
    }

    .time-treino{
        font-size: 0.8rem;
    }
}
@media(max-width: 780px) {
    .configuracao-inicial {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .configuracao-nickname {
        text-align: center;
    }

    .text-nome {
        flex-direction: column;
    }

    .botaoSalvar {
        width: 85%;
        margin-bottom: 4px;
    }

    .circle {
        align-items: center;
        margin: 0px 0px 10px 0px;
    }
    
    .time-informacao {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .time-treino {
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }
}