<div>
  <h4 class="mb-3">Eventos</h4>
  <!-- CONTEÚDO PRINCIPAL DINÂMICO -->
  
  <h5>Posts no Instagram</h5>
  <p class="text-muted">Para aparecer as publicações dentro do site, coloque o TOKEN abaixo:</p>
  <input class="form-control bg-dark text-white" id="instagramTokenInput" placeholder="TOKEN do Instagram" />
  <a class="text-info small d-block my-2" href="https://developers.facebook.com/tools/explorer/" target="_blank">
    Clique aqui para ver como pegar o TOKEN de acesso
  </a>
  <button class="btn btn-outline-light btn-sm" onclick="salvarTokenInstagram()">Salvar Token</button>

  <hr class="my-4" />

  <h5 class="mb-3">Avisos</h5>
  <div class="d-flex justify-content-between align-items-center bg-dark text-white p-3 rounded">
    <span>Numero de avisos abertos: <span id="contador-avisos">0</span></span>
    <button class="btn btn-primary rounded-3" id="btn-adicionar-membro" data-bs-toggle="modal" data-bs-target="#modalMembro" onclick="modalAdicionarMembro()">
    <i class="bi bi-plus"></i>
    Adicionar Aviso
  </button>
  </div>
</div>