<footer class="footer-novo text-white">
    <div class="footer-wrapper">

        <!-- Linha 1: Redes | Logo | Contato -->
        <div class="footer-top">
            <div class="footer-col redes">
                <h2 class="footer-titulo">Nossas redes:</h2>
                <div class="footer-redes">
                    <a href="https://www.instagram.com/esportsmaua?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><img src="imagens/InstaBlackIcon.png" alt="Instagram" /></a>
                    <a href="https://x.com/mauaesports?lang=en"><img src="imagens/TwitterBlackIcon.png" alt="Twitter"></a>
                    <a href="https://discord.gg/Av5EA6QfdR"><img src="imagens/DiscordIcon.png" alt="Discord" /></a>
                    <a href="https://www.youtube.com/mauaesports"><img src="imagens/YoutubeBlackIcon.png" alt="YouTube" /></a>
                    <a href="https://twitch.tv/mauaesports"><img src="imagens/TwitchBlackIcon.png" alt="Twitch" /></a>
                    <a href="mailto:esports@maua.br"><img src="imagens/EmailIcon2.png" alt="Email" /></a>
                </div>
            </div>

            <div class="footer-col logo">
                <img src="imagens/LogoEsports.png" alt="Logo" class="logo-footer-img" />
            </div>

            <div class="footer-col faq">
                <h2 class="footer-titulo">Ficou com dúvida?</h2>
                <a href="#" class="faq-botao">Contato</a>
            </div>
        </div>

        <!-- Linha 2: Links do site -->
        <div class="footer-links-row">
            <div class="footer-col links">
                <h2 class="footer-subtitulo">Páginas</h2>
                <p><a href="index.html">Início</a></p>
                <p><a href="jogos.html">Jogos</a></p>
                <p><a href="jogadores.html">Jogadores</a></p>
                  <p><a href="eventos.html">Eventos</a></p>

            </div>

            <div class="footer-col links">
                <h2 class="footer-subtitulo">Sobre</h2>
                <p><a href="index.html">Sobre nós</a></p>
            </div>

            <div class="footer-col links">
                <h2 class="footer-subtitulo">Formulários</h2>
                <p><a href="https://linktr.ee/MauaEsports">Inscrever-se na seletiva</a></p>
            </div>

        </div>

        <!-- Rodapé inferior -->
        <div class="footer-bottom">
            <p class="footer-copy">&copy; 2025 Mauá eSports. Todos os direitos reservados.</p>
            <p class="footer-mini">Versão 1.0 | Desenvolvido com tecnologia Web</p>
        </div>
    </div>
</footer>