<nav class="navbar navbar-expand-lg navbar-dark bg-dark align-items-center custom-navbar">
  <div class="container-fluid navcontent d-flex justify-content-between align-items-center w-100">
    <a class="navbar-brand" href="index.html">
      <img src="imagens/LogoEsports.png" class="navbar-image mx-2" alt="Logo da Maua eSports">
    </a>

    <div class="d-flex align-items-center flex-grow-1 justify-content-end justify-content-md-end">

      <button class="navbar-toggler order-2 order-md-1" type="button" data-bs-toggle="collapse" data-bs-target="#navBar"
        aria-controls="myNav" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse nav-underline text-end" id="navBar">
      <ul class="navbar-nav ms-auto me-4">
        <li class="nav-item m-3">
          <a class="nav-link" href="index.html">Início</a>
        </li>
        <li class="nav-item m-3">
          <a class="nav-link" href="jogos.html">Jogos</a>
        </li>
        <li class="nav-item m-3">
          <a class="nav-link" href="jogadores.html">Jogadores</a>
        </li>
        <li class="nav-item m-3">
          <a class="nav-link" href="eventos.html">Eventos</a>
        </li>
        <li class="nav-item m-3 d-none" id="painel-adm">
          <a class="nav-link" href="painel_adm.html">Área Administrativa</a>
        </li>
        <li class="nav-item m-3 d-none" id="painel-cap">
          <a class="nav-link" href="painelCapitao.html">Painel Capitão</a>
        </li>
      </ul>
    </div>

    <form action="login.html" class="entrar-btn">
      <button class="loginButton btn btn-secondary px-4">Entrar</button>
    </form>

    <div class="dropdown d-none" id="avatar-dropdown">
      <button class="btn d-flex align-items-center pe-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <div id="avatar" class="rounded-circle d-none me-2"></div>
        <span class="dropdown-toggle"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="/front/pagina_jogador.html">Configurações</a></li>
        <li><a class="dropdown-item" onclick="logout()">Logout</a></li>
      </ul>
    </div>
      
    </div>
  </div>
</nav>